<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Структура веб-страницы Title</title>
        <style>
            .h1-text {
                color: red
            }
            .Python-li {color: red;}
        </style>
    </head>
<body id="nobody">
    <h2 id="12">HTML теги, h2 text</h2>
    <p><p>Это текст абзаца.</p> <span style="color: red">Программирование</span> — это процесс создания и разработки программного обеспечения для компьютеров и других устройств. 
        Цель — создавать программы, которые выполняют определённые задачи или решают проблемы.Программирование включает написание кода на специальных языках программирования, которые позволяют разработчикам давать компьютеру инструкции, которые он может понять и выполнить. 
</p>
</body>
<div class="container"> 
    <h1 class="h1-text">h1-text</h1>
    <h2>h2-text</h2> 
    <h4>h4-text</h4>
    <h5>h5-text</h5>
    <h6>h6-text</h6>

  <a #href-атрибут для ссылок target="_blank"  href="https://yandex.ru/search/?text=%D1%82%D0%B5%D0%BA%D1%81%D1%82+%D0%BF%D1%80%D0%BE+%D0%BF%D1%80%D0%BE%D0%B3%D1%80%D0%B0%D0%BC%D0%BC%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5&clid=2270455&
    banerid=0702004923%3A2307063408619945983%3A689a4a8453b9a7bd59e3e49e&win=711&lr=117109">Вот пару слов про программирование в поисковике яндекса</a> 

    <p><img alt="png" #src-сслыка на текст, alt-значение для невалидной картинки src="https://distribution.faceit-cdn.net/images/1a83e9c6-3e5b-4526-884e-0c966d11ea1b.jpg" style="width: 150px; height: 150px;" > </p>
</div>
    <ul>
        <li class="Python-li">python</li>
        <li>playwright</li>
        <li>pytest</li>
    </ul>
    <ol>
        <li>python</li>
        <li>playwright</li>
        <li>pytest</li>
    </ol>
    <form action='/action' method="POST">
        <input required type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="text" value="21344" placeholder="text">
        <textarea required placeholder="text">12345 </textarea>
        <button type="submit">text</button>
        <button type="submit" disabled>Text with disabled</button>
    </form>

    <table>
        <thead>
        <tr>
            <td>Item1</td>
            <td>Item2</td>
            <td>Item3</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        <tr>
            <td>Row 1</td>
            <td>Row 2</td>
            <td>Row 3</td>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</html>